{% extends 'base.html' %}

{% block content %}

    <div class="container-fluid">

        <h1 class="text-center">Food, Travel, Life</h1>

        {% load static %}

        <img src="{% static 'posts/home.jpg' %}" class="img-responsive center-block" style="max-height:400px;"/>

        <h2>Latest Posts</h2>
        <hr />

        {% for post in posts.all %}

            <a href="{% url 'post_detail' post.id %}"><h3>{{ post.title }}</h3></a>
            <h4><span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{ post.pub_date }}</h4>
            <br>
            <img src="{{ post.image.url }}" class="img-responsive center-block" style="max-height:200px;"/>
            <br>
            <p>{{ post.summary }}</p>
            <br>
            <br>

        {% endfor %}

    </div>

{% endblock %}
